<h2>Course</h2>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12" data-toggle="tooltip" title="The courses will probably not be embedded, but popout like they do currently from the RLMS.">
			<!--<iframe src="http://reliaslearning.training.reliaslearning.com/courses/267284/REL-SRC-0-UPCD_dual/dual%20SCORM_v2/alpha/index_lms_html5.html"></iframe>-->
			<!--<%= image_tag("ADRDBM.png", class: "img-responsive") %>-->
		</div>
	</div>
</div>