<h2>Assessment</h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12" id="course">
			<%= image_tag("assessmentucpd.png", class: "img-responsive")%>
		</div>
	</div>

		<div class="col-sm-12 ldashtop" id="courseReport">
			Course Report
			<div class="row">
				<div class="col-sm-3 list">
					<strong>Knowledge Domain</strong>
				</div>
				<div class="col-sm-3 col-sm-offset-2 list" data-toggle="tooltip" title="This sections should compare the original KD score (original assessment) to the new score (post-course assessment). Should this score be a numerical value?">
					<strong>Score</strong>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3 list">
					Behavior Managment
				</div>
				<div class="col-sm-3 col-sm-offset-2 list">
				</div>
			</div>


			<div class="row">
				<div class="col-sm-3 list">
					Identify Stage of Dementia
				</div>
				<div class="col-sm-3 col-sm-offset-2 list">
				</div>
			</div>


			<div class="row">
				<div class="col-sm-3 list">
					Use Verbal Communication
				</div>
				<div class="col-sm-3 col-sm-offset-2 list">
				</div>
			</div>


			<div class="row">
				<div class="col-sm-3 list">
					Use Non-Verbal Communication
				</div>
				<div class="col-sm-3 col-sm-offset-2 list">
				</div>
			</div>

		</div>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-2 col-sm-offset-8">
			<button type="button" class="btn btn-warning" id="assessmentSubmit">Submit</button>
			<button type="button" class="btn btn-warning" id="dashbutton"><%= link_to("Dashboard", sample_pages_assign_path)%></button>
		</div>
	</div>
</div>
