<h2>Dashboard</h2>

<div class="container-fluid">
	<div class="row ldashtop">
		<div class="col-sm-4">
			<button type="button" class="btn btn-warning" id="dashview1">View- Take Assessment</button>
		</div>
		<div class="col-sm-4 col-sm-offset-2">
			<button type="button" class="btn btn-warning" id="dashview2">View- Assessment Taken</button>
		</div>
	</div>
</div>

<div class="container-fluid" id="assessmentNotTaken">
	<div class="row ldashtop">
		<div class="col-sm-5">
			<p>CNA Assessment</p>
		</div>
		
		<div class="col-sm-5 col-sm-offset-2">
			<button type="button" class="btn btn-warning"><%= link_to("Take Assessment", sample_pages_assessment_path) %></button>
		</div>
	</div>
</div>

<div class="container-fluid" id="assessmentTaken">
	<div class="row ldashtop">
		<div class="col-sm-12">
			<h3>Overall Role Competency</h3>
		</div>
		<div class="col-sm-1 red" data-toggle="tooltip" title="Behavior Management">
		</div>
		<div class="col-sm-1 red" data-toggle="tooltip" title="Client Rights">
		</div>
		<div class="col-sm-1 red" data-toggle="tooltip" title="Identify Stage of Dementia">
		</div>
		<div class="col-sm-1 yellow" data-toggle="tooltip" title="Activities of Daily Living">
		</div>
		<div class="col-sm-1 yellow" data-toggle="tooltip" title="Psychosocial Care Skills">
		</div>
		<div class="col-sm-1 yellow" data-toggle="tooltip" title="Use Verbal Communication">
		</div>
		<div class="col-sm-1 green" data-toggle="tooltip" title="Basic Nursing Skills">
		</div>
		<div class="col-sm-1 green" data-toggle="tooltip" title="Use Non-verbal Communication">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h3 data-toggle="tooltip" title="When all courses get modularized, this can reflect the KD's instead of referring to course titles.">Courses In Progress</h3>
		</div>
		<div class="col-sm-3 col-sm-offset-1 learnerKD">
			<p>
				<%= link_to "Understanding Communication in Persons with Dementia", sample_pages_UCPD_path, :class=> "h4"%>
				<ul>
					<li>Behavior Management</li>
					<li>Identify Stage of Dementia</li>
					<li>Use Verbal Communication</li>
					<li>Understanding Alzheimer's Disease and Dementia</li>
				</ul>
			</p>
		</div>
		<div class="col-sm-3 col-sm-offset-1 learnerKD">
			<p>
				<%= link_to "Alzheimer's Disease and Related Disorders: Behavior Management", sample_pages_ADRDBM_path, :class=> "h4"%>
				<ul>
					<li>Behavior Management</li>
					<li>Identify Stage of Dementia</li>
					<li>Use Verbal Communication</li>
					<li>Understanding Alzheimer's Disease and Dementia</li>
				</ul>
			</p>
		</div>
		<div class="col-sm-3 col-sm-offset-1 learnerKD">
			<p>
				<h4>Understanding Client's Rights</h4>
				<ul>
					<li>Client Rights</li>
				</ul>
			</p>
		</div>
		<div class="col-sm-3 col-sm-offset-1 learnerKD">
			<p>
				<h4>In-Home Healthcare</h4>
				<ul>
					<li>Activities of Daily Living</li>
					<li>Client Rights</li>
				</ul>
			</p>
		</div>
</div>


