<h2>Dashboard</h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h3>Overall Role Competency</h3>
		</div>
		<div class="col-sm-1 red" data-toggle="tooltip" title="Behavior Management">
		</div>
		<div class="col-sm-1 red" data-toggle="tooltip" title="Client Rights">
		</div>
		<div class="col-sm-1 red" data-toggle="tooltip" title="Identify Stage of Dementia">
		</div>
		<div class="col-sm-1 yellow" data-toggle="tooltip" title="Activities of Daily Living">
		</div>
		<div class="col-sm-1 yellow" data-toggle="tooltip" title="Psychosocial Care Skills">
		</div>
		<div class="col-sm-1 yellow" data-toggle="tooltip" title="Use Verbal Communication">
		</div>
		<div class="col-sm-1 green" data-toggle="tooltip" title="Basic Nursing Skills">
		</div>
		<div class="col-sm-1 green" data-toggle="tooltip" title="Use Non-verbal Communication">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 learnerKD">
			<p>Behavior Management</p>
		</div>
		<div class="col-sm-4 learnerKD">
			<p>Client Rights</p>
		</div>
		<div class="col-sm-4 learnerKD">
			<p>Psychosocial Care Skills</p>
		</div>
		<div class="col-sm-4 learnerKD">
			<p>Use Verbal Communication</p>
		</div>
</div>
