<h2>Course</h2>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<!--<iframe src="http://reliaslearning.training.reliaslearning.com/courses/267284/REL-SRC-0-UPCD_dual/dual%20SCORM_v2/alpha/index_lms_html5.html"></iframe>-->
			<%= image_tag("UCPD.png", class: "img-responsive") %>
		</div>
	</div>
</div>