<h2>Course</h2>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12" data-toggle="tooltip" title="The courses will probably not be embedded, but popout like they do currently from the RLMS.">
			<%= image_tag("ucpdpic.png", class: "img-responsive") %>
		</div>
	</div>
</div>