<h2>Manage Assessments</h2>

<div class="container-fluid">
	<div class="row">

		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-8 list">
					<strong>Assessment</strong>
				</div>

				<div class="col-sm-4 list">
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 list">
					CNA
				</div>

				<div class="col-sm-4 list">
					<i class="fas fa-pencil-alt fa-fw""></i>
					<i class="fas fa-trash-alt fa-fw"></i>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 list">
					CNA- Home Healthcare
				</div>

				<div class="col-sm-4 list">
					<i class="fas fa-pencil-alt fa-fw""></i>
					<i class="fas fa-trash-alt fa-fw"></i>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 list">
					RN
				</div>

				<div class="col-sm-4 list">
					<i class="fas fa-pencil-alt fa-fw""></i>
					<i class="fas fa-trash-alt fa-fw"></i>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 list">
					MD
				</div>

				<div class="col-sm-4 list">
					<i class="fas fa-pencil-alt fa-fw""></i>
					<i class="fas fa-trash-alt fa-fw"></i>
				</div>
			</div>
		</div>

	</div>
</div>
