<h1>Assign Content</h1>

<div class="box">
	<div class="dropdown">
	  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Select an Assessment Type
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    <a class="dropdown-item" id="CNA">CNA</a>
	    <div class="dropdown-divider"></div>
	    <a class="dropdown-item" href="#">RN</a>
	    <div class="dropdown-divider"></div>
	    <a class="dropdown-item" href="#">MD</a>
	  </div>
	</div>
</div>

<div class="CNA">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 list">
				<div>
					<h3 data-toggle="tooltip" title="Certain KD's will be static. These are the KD's from validated pre-hire assessments that are vital to the role.">Assessment</h3>
				</div>
				<div class="item">
					<p>Activities of Daily Living</p>
				</div>
				<div class="item">
					<p>Basic Nursing Skills</p>
				</div>
				<div class="item">
					<p>Client Rights</p>
				</div>
				<div class="item">
					<p>Psychosocial Care Skills</p>
				</div>
				<div class="item KD1A">
					<p>Behavior Management
						<a href=""></a> id="KD1A" style="float:right" type="button" class="btn btn-default">
	          <i class="fas fa-minus-square fa-fw""></i>
	        	</a> 
	      	</p>
				</div>
				<div class="item KD2A">
					<p>Identify Stage of Dementia
						<button id="KD2A" style="float:right" type="button" class="btn btn-default">
	          <i class="fas fa-minus-square fa-fw""></i>
	        	</button> 
					</p>
				</div>
				<div class="item KD3A">
					<p>Use Verbal Communication
						<button id="KD3A" style="float:right" type="button" class="btn btn-default">
	          <i class="fas fa-minus-square fa-fw""></i>
	        	</button> 
					</p>
				</div>
				<div class="item KD4A">
					<p>Use Non-verbal Communication
						<button id="KD4A"  style="float:right" type="button" class="btn btn-default">
	          <i class="fas fa-minus-square fa-fw""></i>
	        	</button> 
					</p>
				</div>
			</div>
			<div class="col-sm-5 col-sm-offset-1 list">
				<div>
					<h3 data-toggle="tooltip" title="Suggestions are based on frequently used KD's from the specific system or hospital, and from frequently assigned KD's for the specific role from a nationwide pool.">Suggested Additions</h3>
				</div>
				<div class="item KD1B">
					<p>Behavior Management
						<button id="KD1B" style="float:right" type="button" class="btn btn-default btn-sm">
	          <i class="fas fa-plus-square fa-fw""></i>
	        </button> 
					</p>
				</div>
				<div class="item KD2B">
					<p>Identify Stage of Dementia
						<button id="KD2B" style="float:right" type="button" class="btn btn-default btn-sm">
	          <i class="fas fa-plus-square fa-fw""></i>
	        </button> 
					</p>
				</div>
				<div class="item KD3B">
					<p>Use Verbal Communication
						<button id="KD3B" style="float:right" type="button" class="btn btn-default btn-sm">
	          <i class="fas fa-plus-square fa-fw""></i>
	        </button> 
					</p>
				</div>
				<div class="item KD4B">
					<p>Use Non-Verbal Communication
						<button id="KD4B" style="float:right" type="button" class="btn btn-default btn-sm">
	          <i class="fas fa-plus-square fa-fw""></i>
	        	</button> 
					</p>
				</div>
			</div>
		</div><!--end row-->
	</div><!--end container-->

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-1 col-sm-offset-8">
				<button type="button" class="btn btn-warning"><%= link_to("Assign", admin_views_users_path) %></button>
			</div>
			<div class="col-sm-1">
				<button type="button" class="btn btn-warning"><%= link_to("Save", admin_views_dashboard_path) %></button>
			</div>
		</div><!--end row-->
	</div><!--end container-->
</div>