<h2>Reports</h2>

<div class="container">
	<div class="row list" style="margin-bottom:3em">
			<div class="col-sm-6 col-sm-offset-3">
				<%= image_tag("reports.png", class: "img-responsive")%>
			</div>
	</div>

	<div class="row list" style="margin-bottom:3em">
		<div class="col-sm-6">
			<%= image_tag("facilityscatterplot.png", class: "img-responsive")%>
		</div>
		<div class="col-sm-6">
			<%= image_tag("userscatterplot.png", class: "img-responsive")%>
		</div>
	</div>

	<div class="row list">
		<div class="col-sm-6 col-sm-offset-3">
			<p>*Images were taken from Gnosis platform. Ideally there would be a robust reporting system where admins could generate custom reports based on job roles, KD's, knowledge gaps, etc.
			</p>
		</div>
	</div>

</div>