<h2>Reports</h2>

<div class="container">
	<div class="row list" style="margin-bottom:3em">
			<div class="col-sm-6 col-sm-offset-3">
				<%= image_tag("reports.png", class: "img-responsive")%>
			</div>
	</div>

	<div class="row list" style="margin-bottom:3em">
		<div class="col-sm-6">
			<%= image_tag("facilityscatterplot.png", class: "img-responsive")%>
		</div>
		<div class="col-sm-6">
			<%= image_tag("userscatterplot.png", class: "img-responsive")%>
		</div>
	</div>

	<div class="row list">
		<div class="col-sm-6 col-sm-offset-3">
			<p>*Images were taken from Gnosis platform. Ideally there would be a robust reporting system where admins could generate custom reports based on job roles, KD's, knowledge gaps, etc.
			</p>
		</div>
	</div>

	<div class="row list">
		<div class="col-sm-6 col-sm-offset-3">
			<p>The admin assigns from the Practice Area, and the learner assessment generates the KD's. Once the learner has taken the assessment, the admin can drill down to the KD level to see what parts of the PA they were assigned, and their progress towards mastery of the KD and subsequent PA</p>
			<button class="btn btn-warning" type="button"><%= link_to("Example of Individual report", admin_views_userReport_path)%></button>
		</div>
	</div>

</div>