// Place all the styles related to the admin_views controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: #5fab44;
}

.img-responsive{
	max-width: 100%;
}

h4 .h4{
	font-size: 1.2 rem;
	margin-bottom: .5rem;
	line-height: 1.2;
}

//Navbar
#header_wrapper {
	background-color: #fff;
}

.header-static-top{
	box-shadow: 0 1px 10px 0 #666;
}

.logo {
	max-height: 100%;
}

footer{
	position: fixed;
	bottom:0;
}

.CNA {
	display: none;
}

.list {
	background-color: #fff;
	border: 1px solid black;
}

.item {
	border: 1px solid gray;
	height: 3em;
}

.btn-glyphicon{
	vertical-align: middle;
}

.KD1A, .KD2A, .KD3A, .KD4A {
	display: none;
}

#myInput {
	width: 100%;
}

/*Users page*/
input[type=checkbox]{
	float:right;
	margin-right: 5px;
}

#assign {
	margin-top: 2em;
	display: none;
}

.box{
	background-color: #fff;
	padding: 2em 3em;
	padding-bottom: 3em;
	margin: .5em 3em 2em 3em;
}