// Place all the styles related to the admin_views controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: #5fab44;
}

footer{
	position: fixed;
	bottom:0;
}

.CNA {
	display: none;
}

.list {
	background-color: #fff;
	border: 1px solid black;
	padding: 3px;
}

.item {
	border: 1px solid gray;
	height: 3em;
}

.btn-glyphicon{
	vertical-align: middle;
}

.KD1A, .KD2A, .KD3A, .KD4A {
	display: none;
}

#myInput {
	width: 100%;
}

/*Users page*/
input[type=checkbox]{
	float:right;
	margin-right: 5px;
}

#assign {
	margin-top: 2em;
	display: none;
}